body{
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
    background:#e9eef3;
}

.login-box{
    width:360px;
    margin:100px auto;
    background:#ffffff;
    padding:25px;
    border-radius:6px;
    box-shadow:0 0 10px rgba(0,0,0,0.1);
}

.login-box h2{
    margin-bottom:20px;
    color:#213d77;
}

input{
    width:100%;
    padding:12px;
    margin:10px 0;
    border:1px solid #ccc;
    border-radius:4px;
    font-size:14px;
}

button{
    width:100%;
    padding:12px;
    background:#fb792b;
    color:white;
    font-size:15px;
    border:none;
    border-radius:4px;
    cursor:pointer;
}

button:hover{
    background:#e5671f;
}

@media(max-width:480px){
    .login-box{
        width:90%;
        margin-top:60px;
    }
}
