body{
    font-family: Arial;
    background:#f2f2f2;
}

.login-box{
    width:300px;
    margin:100px auto;
    padding:20px;
    background:white;
    text-align:center;
    border-radius:8px;
}

input{
    width:90%;
    padding:10px;
    margin:10px 0;
}

button{
    width:95%;
    padding:10px;
    background:#ff6600;
    color:white;
    border:none;
}
